.body {
    width: 40%;
    margin: auto;
    background-color: fefefe;
}

p, li {
  font-family: Century;
    font-style: italic;
    font-size: 16px;
    line-height: 22px;
    color:#5d6063 ;
}

h1, h2, h3 {
    font-family: Century;
    font-style: italic;
    line-height: 17px;
    color:#7a8bc7 ;
}

a {
    font-family: Century;
    font-style: italic;
    line-height: 17px;
    color:#b19c25 ;
}

section {
    border: 2px solid #bcccdc;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
    max-width: 800px; /* Optional: control box width */
    background-clip: border-box;

    background-color: #ffffff;
    box-shadow: 0 4px 5px rgba(94, 94, 94, 0.1);
}

.modified-imgs {
    width:150px;
    height: auto;
    float: left;
    margin-right:5px;
}

